<a href="https://colab.research.google.com/github/gotjd709/DataEngineer/blob/master/week3_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install SQLAlchemy==1.4.47

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting SQLAlchemy==1.4.47
  Downloading SQLAlchemy-1.4.47-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 27.4 MB/s eta 0:00:00
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.9/dist-packages (from SQLAlchemy==1.4.47) (2.0.2)
Installing collected packages: SQLAlchemy
  Attempting uninstall: SQLAlchemy
    Found existing installation: SQLAlchemy 2.0.9
    Uninstalling SQLAlchemy-2.0.9:
      Successfully uninstalled SQLAlchemy-2.0.9
Successfully installed SQLAlchemy-1.4.47

In [ ]:
%load_ext sql

ID와 PW와 (본인스키마)를 자신의 것으로 변경

In [ ]:
%sql postgresql://gotjd709:mypw@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:port/dev

In [ ]:
%%sql

DROP TABLE IF EXISTS gotjd709.name_gender;
CREATE TABLE gotjd709.name_gender (
   name varchar(32),
   gender varchar(8)
);

 * postgresql://gotjd709:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
Done.
Done.

[]

만들어진 name gender table 확인

In [ ]:
%%sql

SELECT *
FROM gotjd709.name_gender

 * postgresql://gotjd709:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
0 rows affected.

[]

In [ ]:
import psycopg2

# Redshift connection 함수
# 본인 ID/PW 사용!
def get_Redshift_connection():
    host = "learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com"
    redshift_user = "gotjd709"
    redshift_pass = "Gotjd709!1"
    port = 5439
    dbname = "dev"
    conn = psycopg2.connect("dbname={dbname} user={user} host={host} password={password} port={port}".format(
        dbname=dbname,
        user=redshift_user,
        password=redshift_pass,
        host=host,
        port=port
    ))
    conn.set_session(autocommit=True)
    return conn.cursor()

# ETL 함수를 하나씩 정의

In [ ]:
import requests

def extract(url):
    f = requests.get(url)
    return (f.text)

### task1

헤더를 제거하기 위해 [1:] 처리

In [ ]:
def transform(text):
    lines = text.split("\n")[1:]
    return lines

### task2 & task3

- 매번 INSERT INTO TABLE VALUE을 통해 sql에 업데이트 하는 것이 아니라 (), (), ()로 한 번에 업데이트하여 속도를 높임
- DELETE FROM gotjd709.name_gender를 통해 반복되어도 중복이 안됨 (마지막에 두 번 반복하여 확인)
- BEGIN, END를 붙여주어 트랜잭션을 만들어 주어 만약 에러발생 시 업데이트가 되지 않음

In [ ]:
def load(lines):
    # BEGIN과 END를 사용해서 SQL 결과를 트랜잭션으로 만들어주는 것이 좋음
    # BEGIN;DELETE FROM (본인의스키마).name_gender;INSERT INTO TABLE VALUES ('KEEYONG', 'MALE');....;END;
    cur = get_Redshift_connection()
    sql_str = 'BEGIN; DELETE FROM gotjd709.name_gender;'
    sql_str += 'INSERT INTO gotjd709.name_gender VALUES'
    for r in lines:
        if r != '':
            (name, gender) = r.split(",")
            print(name, "-", gender)
            sql = "('{n}', '{g}'), ".format(n=name, g=gender)
            print(sql)
            sql_str += sql
    fin_sql_str = sql_str[:-2] + '; END;'
    cur.execute(fin_sql_str)

# 이제 Extract부터 함수를 하나씩 실행

In [ ]:
link = "https://s3-geospatial.s3-us-west-2.amazonaws.com/name_gender.csv"

data = extract(link)

In [ ]:
data

'name,gender\nAdaleigh,F\nAmryn,Unisex\nApurva,Unisex\nAryion,M\nAlixia,F\nAlyssarose,F\nArvell,M\nAibel,M\nAtiyyah,F\nAdlie,F\nAnyely,F\nAamoni,F\nAhman,M\nArlane,F\nArmoney,F\nAtzhiry,F\nAntonette,F\nAkeelah,F\nAbdikadir,M\nArinze,M\nArshaun,M\nAlexandro,M\nAyriauna,F\nAqib,M\nAlleya,F\nAavah,F\nAnesti,Unisex\nAdalaide,F\nAnalena,F\nAlaeyah,F\nAlbena,F\nAimi,F\nAdwaith,M\nArkady,M\nAstyn,Unisex\nAdelee,F\nAgata,F\nAlegna,F\nAltan,M\nAhnaleigh,F\nAlgie,Unisex\nAshanti,F\nAislyn,F\nAdaleine,F\nAnthnoy,M\nAlgernon,M\nAeryona,F\nAdrinne,F\nAddell,F\nAvril,F\nAhni,F\nAimon,M\nAdolpho,M\nAhuva,F\nAurielle,F\nAveana,F\nAliyia,F\nAlesander,M\nAdnrea,F\nAnjae,F\nAlvine,F\nAdorah,F\nAdlemi,F\nAlesi,F\nAlontae,M\nAntonny,M\nAdarah,F\nAyreanna,F\nAntyon,M\nAndia,F\nAshla,F\nAspyn,F\nAntwanett,F\nAundreia,F\nAudella,F\nAmari,Unisex\nArsha,Unisex\nAricella,F\nAdan,M\nApasra,F\nAlaysha,F\nAnderson,M\nAurelius,M\nAerial,F\nAverleigh,F\nAslean,F\nArniesha,F\nAsyana,F\nAnnjane,F\nAmabella,F\nAustinjohn,M\nArloween,F\nAlula,M\nAnemone,F\nAmorina,F\nAnureet,F\nArric,M\nAntonne,M\nAlyre,M\nAnnaise,F\n'

In [ ]:
lines = transform(data)

In [ ]:
lines

['Adaleigh,F',
 'Amryn,Unisex',
 'Apurva,Unisex',
 'Aryion,M',
 'Alixia,F',
 'Alyssarose,F',
 'Arvell,M',
 'Aibel,M',
 'Atiyyah,F',
 'Adlie,F',
 'Anyely,F',
 'Aamoni,F',
 'Ahman,M',
 'Arlane,F',
 'Armoney,F',
 'Atzhiry,F',
 'Antonette,F',
 'Akeelah,F',
 'Abdikadir,M',
 'Arinze,M',
 'Arshaun,M',
 'Alexandro,M',
 'Ayriauna,F',
 'Aqib,M',
 'Alleya,F',
 'Aavah,F',
 'Anesti,Unisex',
 'Adalaide,F',
 'Analena,F',
 'Alaeyah,F',
 'Albena,F',
 'Aimi,F',
 'Adwaith,M',
 'Arkady,M',
 'Astyn,Unisex',
 'Adelee,F',
 'Agata,F',
 'Alegna,F',
 'Altan,M',
 'Ahnaleigh,F',
 'Algie,Unisex',
 'Ashanti,F',
 'Aislyn,F',
 'Adaleine,F',
 'Anthnoy,M',
 'Algernon,M',
 'Aeryona,F',
 'Adrinne,F',
 'Addell,F',
 'Avril,F',
 'Ahni,F',
 'Aimon,M',
 'Adolpho,M',
 'Ahuva,F',
 'Aurielle,F',
 'Aveana,F',
 'Aliyia,F',
 'Alesander,M',
 'Adnrea,F',
 'Anjae,F',
 'Alvine,F',
 'Adorah,F',
 'Adlemi,F',
 'Alesi,F',
 'Alontae,M',
 'Antonny,M',
 'Adarah,F',
 'Ayreanna,F',
 'Antyon,M',
 'Andia,F',
 'Ashla,F',
 'Aspyn,F',
 'Antwanett,F',
 'Aundreia,F',
 'Audella,F',
 'Amari,Unisex',
 'Arsha,Unisex',
 'Aricella,F',
 'Adan,M',
 'Apasra,F',
 'Alaysha,F',
 'Anderson,M',
 'Aurelius,M',
 'Aerial,F',
 'Averleigh,F',
 'Aslean,F',
 'Arniesha,F',
 'Asyana,F',
 'Annjane,F',
 'Amabella,F',
 'Austinjohn,M',
 'Arloween,F',
 'Alula,M',
 'Anemone,F',
 'Amorina,F',
 'Anureet,F',
 'Arric,M',
 'Antonne,M',
 'Alyre,M',
 'Annaise,F',
 '']

In [ ]:
load(lines)

Adaleigh - F
('Adaleigh', 'F'),
Amryn - Unisex
('Amryn', 'Unisex'),
Apurva - Unisex
('Apurva', 'Unisex'),
Aryion - M
('Aryion', 'M'),
Alixia - F
('Alixia', 'F'),
Alyssarose - F
('Alyssarose', 'F'),
Arvell - M
('Arvell', 'M'),
Aibel - M
('Aibel', 'M'),
Atiyyah - F
('Atiyyah', 'F'),
Adlie - F
('Adlie', 'F'),
Anyely - F
('Anyely', 'F'),
Aamoni - F
('Aamoni', 'F'),
Ahman - M
('Ahman', 'M'),
Arlane - F
('Arlane', 'F'),
Armoney - F
('Armoney', 'F'),
Atzhiry - F
('Atzhiry', 'F'),
Antonette - F
('Antonette', 'F'),
Akeelah - F
('Akeelah', 'F'),
Abdikadir - M
('Abdikadir', 'M'),
Arinze - M
('Arinze', 'M'),
Arshaun - M
('Arshaun', 'M'),
Alexandro - M
('Alexandro', 'M'),
Ayriauna - F
('Ayriauna', 'F'),
Aqib - M
('Aqib', 'M'),
Alleya - F
('Alleya', 'F'),
Aavah - F
('Aavah', 'F'),
Anesti - Unisex
('Anesti', 'Unisex'),
Adalaide - F
('Adalaide', 'F'),
Analena - F
('Analena', 'F'),
Alaeyah - F
('Alaeyah', 'F'),
Albena - F
('Albena', 'F'),
Aimi - F
('Aimi', 'F'),
Adwaith - M
('Adwaith', 'M'),
Arkady - M
('Arkady', 'M'),
Astyn - Unisex
('Astyn', 'Unisex'),
Adelee - F
('Adelee', 'F'),
Agata - F
('Agata', 'F'),
Alegna - F
('Alegna', 'F'),
Altan - M
('Altan', 'M'),
Ahnaleigh - F
('Ahnaleigh', 'F'),
Algie - Unisex
('Algie', 'Unisex'),
Ashanti - F
('Ashanti', 'F'),
Aislyn - F
('Aislyn', 'F'),
Adaleine - F
('Adaleine', 'F'),
Anthnoy - M
('Anthnoy', 'M'),
Algernon - M
('Algernon', 'M'),
Aeryona - F
('Aeryona', 'F'),
Adrinne - F
('Adrinne', 'F'),
Addell - F
('Addell', 'F'),
Avril - F
('Avril', 'F'),
Ahni - F
('Ahni', 'F'),
Aimon - M
('Aimon', 'M'),
Adolpho - M
('Adolpho', 'M'),
Ahuva - F
('Ahuva', 'F'),
Aurielle - F
('Aurielle', 'F'),
Aveana - F
('Aveana', 'F'),
Aliyia - F
('Aliyia', 'F'),
Alesander - M
('Alesander', 'M'),
Adnrea - F
('Adnrea', 'F'),
Anjae - F
('Anjae', 'F'),
Alvine - F
('Alvine', 'F'),
Adorah - F
('Adorah', 'F'),
Adlemi - F
('Adlemi', 'F'),
Alesi - F
('Alesi', 'F'),
Alontae - M
('Alontae', 'M'),
Antonny - M
('Antonny', 'M'),
Adarah - F
('Adarah', 'F'),
Ayreanna - F
('Ayreanna', 'F'),
Antyon - M
('Antyon', 'M'),
Andia - F
('Andia', 'F'),
Ashla - F
('Ashla', 'F'),
Aspyn - F
('Aspyn', 'F'),
Antwanett - F
('Antwanett', 'F'),
Aundreia - F
('Aundreia', 'F'),
Audella - F
('Audella', 'F'),
Amari - Unisex
('Amari', 'Unisex'),
Arsha - Unisex
('Arsha', 'Unisex'),
Aricella - F
('Aricella', 'F'),
Adan - M
('Adan', 'M'),
Apasra - F
('Apasra', 'F'),
Alaysha - F
('Alaysha', 'F'),
Anderson - M
('Anderson', 'M'),
Aurelius - M
('Aurelius', 'M'),
Aerial - F
('Aerial', 'F'),
Averleigh - F
('Averleigh', 'F'),
Aslean - F
('Aslean', 'F'),
Arniesha - F
('Arniesha', 'F'),
Asyana - F
('Asyana', 'F'),
Annjane - F
('Annjane', 'F'),
Amabella - F
('Amabella', 'F'),
Austinjohn - M
('Austinjohn', 'M'),
Arloween - F
('Arloween', 'F'),
Alula - M
('Alula', 'M'),
Anemone - F
('Anemone', 'F'),
Amorina - F
('Amorina', 'F'),
Anureet - F
('Anureet', 'F'),
Arric - M
('Arric', 'M'),
Antonne - M
('Antonne', 'M'),
Alyre - M
('Alyre', 'M'),
Annaise - F
('Annaise', 'F'),

In [ ]:
%%sql

SELECT count(*)
FROM gotjd709.name_gender

 * postgresql://gotjd709:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(100,)]

In [ ]:
%%sql

SELECT count(*)
FROM gotjd709.name_gender

 * postgresql://gotjd709:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(100,)]